@if (events) {
    @for (event of events;track event) {
        @if ($index % 2 == 0) {
            <div class="container mt-4">
                <div class="row mb-4 gap-2 gap-md-0">
                    <div class="col-md-6">
                        <img src="http://127.0.0.1:8000/storage/{{event.image}}" alt="Foto" class="img-fluid" style="max-height: 20em;">
                    </div>
                    <div class="col-md-6">
                        <h3 class="titulo">{{ event.name }}</h3>
                        <p>{{ event.description }}</p>
                        <p class="text-muted mt-2">Fecha de inicio: {{ event.initial_date | date: 'longDate' }}</p>
                        <button class="btn btn-secondary py-2 px-3" routerLink="/reservation">Reservar</button>
                    </div>
                </div>
            </div>
        } @else {
<div class="container mt-4">
                <div class="row mb-4 gap-2 gap-md-0">
                    <div class="col-md-6 d-flex flex-column align-items-end text-end">
                        <h3 class="titulo">{{ event.name }}</h3>
                        <p>{{ event.description }}</p>
                        <p class="text-muted mt-2">Fecha de inicio: {{ event.initial_date | date: 'longDate' }}</p>
                        <button class="btn btn-secondary py-2 px-3" routerLink="/reservation">Reservar</button>
                    </div>
                    <div class="col-md-6">
                        <img src="http://127.0.0.1:8000/storage/{{event.image}}" alt="Foto" class="img-fluid" style="max-height: 20em;">
                    </div>
                </div>
            </div>
        }
    }
}
