@import 'variables';
nav
{
background-color: $primary !important;
color: $secondary !important;
font-weight: bold !important;
}

.letras {
    // width: 15em !important; 
    height: auto;
}

.dropdown-menu {
    background-color: white !important;
    color: $secondary !important;
}

.dropdown-item {
    &:hover{
        background-color: $primary !important;
    }
}



