<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex flex-column flex-lg-row ">
        <div class="d-flex justify-content-center align-items-center justify-content-lg-start gap-5">
            <img src="assets/logo_taza.png" class= "d-flex justify-content-start logo mb-2 ms-0 ms-lg-5" routerLink="/home" alt="logo taza">
            <img src="assets/pawspresso.png" class= "d-flex img-fluid w-50 justify-content-start letras mt-3" routerLink="/home" alt="letras logo">
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-center me-lg-5 gap-5" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex flex-row gap-5 pt-4 pb-4 flex-wrap flex-sm-nowrap justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cat">Gatos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/product" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu rounded-1">
                        <li><a class="dropdown-item" routerLink="/ppeople">Para Personas</a></li>
                        <li><a class="dropdown-item" routerLink="/pcat">Para Gatos</a></li> <!-- Etiqueta corregida -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/event">Eventos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
