<div>

  <!-- Carrusel -->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="max-height: 80vh; object-fit: cover;">
        <img src="assets/granos_cafe.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="titulo grandes text-shadow">Nuestro Café</h2>
          <h4 class="text-shadow">De gran calidad, importado desde Colombia</h4>
        </div>
      </div>
      <div class="carousel-item" style="max-height: 80vh; object-fit: cover;">
        <img src="assets/cafe.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="titulo grandes text-shadow">Nuestro Ambiente</h2>
          <h4 class="text-shadow">Solo en nuestro local conoceras el significado de "Como en casa"</h4>
        </div>
      </div>
      <div class="carousel-item" style="max-height: 80vh; object-fit: cover;">
        <img src="assets/dulces.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="titulo grandes text-shadow">Nuestros Dulces</h2>
          <h4 class="text-shadow">Todos preparados con deliciosos ingredientes orgánicos</h4>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Tarjetas de texto -->

  <div class="container mt-5 mb-5">
    <h2 class="titulo grandes">Por qué elegirnos</h2> <br>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3>Calidad</h3>
            <p class="card-text">Estudiamos constantemente sobre nutrición y bienestar, y antes de poner un producto a
              la venta, lo ponemos a prueba con nuestra colonia felina. Tenemos unos principios muy férreos de lo que
              queremos para nuestros propios gatos, y lo transmitimos a través de una selección minuciosa de la que nos
              sentimos orgullosos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3>Asesoramiento</h3>
            <p class="card-text">Hay millones de productos en el mercado, pero cuál será mejor para tu gato? Nuestro
              equipo intenta siempre conocer al cliente felino a través de su humano, para buscar qué alimento puede ser
              el mejor, el juguete más divertido o la camita más confortable. Déjate recomendar por nosotros,
              intentaremos que tú y tu gatete quedéis satisfechos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3>Solidaridad</h3>
            <p class="card-text">Todos los beneficios que se obtienen de la venta de productos, como con todo lo que se
              recauda del resto de actividades desarrolladas, se invierte en ayudar a los gatos, tanto
              nuestros como de colonias. Comprando con nosotros estás colaborando en la ayuda a muchísimos gatos, y no a
              grandes empresas sin alma.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fotos con cuadros de texto -->

  <div class="container mt-5">
    <div class="position-relative" style="height: 300px;">
      <img src="assets/gato_bizco.webp" class="img-fluid h-100 w-100" style="object-fit: cover;" alt="Foto de ejemplo">
      <div class="position-absolute top-50 start-0 translate-middle-y bg-light p-3 btn rounded-0" style="max-width: 300px;" routerLink="/pcat">
        <h5 class="titulo">PARA GATETES.</h5>
        <p>Solo lo mejor para tus gatos. Lo más natural, orgánico y específico para ellos. </p>
      </div>
    </div>
  </div>

  <div class="container mt-0">
    <div class="position-relative" style="height: 300px;">
      <img src="assets/dulces.webp" class="img-fluid h-100 w-100" style="object-fit: cover;" alt="Foto de ejemplo">
      <div class="position-absolute top-50 end-0 translate-middle-y bg-light p-3 btn rounded-0" style="max-width: 300px;" routerLink="/ppeople">
        <h5 class="titulo">PARA CATLOVERS.</h5>
        <p>Gran variedad de productos para los grandes amantes de los gatos.</p>
      </div>
    </div>
  </div>


</div>