<footer class="bg-dark text-white p-5 align-items-end">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <!-- Horarios -->
            <div class="col-md-4 mt-3">
                <h4 class="titulo">HORARIO:</h4>
                <br>
                <p><strong>LUNES:</strong> de 16 a 21h</p>
                <p><strong>MARTES - VIERNES:</strong> de 11 a 14h y de 16 a 21h</p>
                <p><strong>SÁBADO Y DOMINGO:</strong> de 11 a 21h</p>
            </div>
            <!-- Información de contacto -->
            <div class="col-md-4 mt-3">
                <h4 class="titulo ">PawSpresso - La Camada</h4> <br>
                <p>C/Pico Ocejón 18<br>
                    19004 Guadalajara<br>
                    653 69 40 69<br>
                    <a href="mailto:bravoporestefi@gmail.es" class="text-white">ebravoblasco&#64;gmail.com</a>
                </p>
            </div>
            <!-- Mapa -->
            <div class="col-md-4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.8111681883884!2d-3.1924234233854327!3d40.63404617140547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd43ac6302cf6b79%3A0xaa12b5c1dfa4767!2sC.%20Pico%20Ocejon%2C%2018%2C%2019004%20Guadalajara!5e0!3m2!1ses!2ses!4v1718562895852!5m2!1ses!2ses"
                    style="border:0; width: 100%; height: 100%;">
                </iframe>
            </div>
        </div>
    </div>
</footer>