<body class="d-flex flex-column align-items-center">

  <div class="container w-100">
    <div class="row position-relative" style="height: 30em; overflow: hidden;">
      <div class="col-12">
        <video class="w-100" style="height: 100%; object-fit: cover;" autoplay loop>
          <source src="assets/gato_peinado.mp4" type="video/mp4">
        </video>
      </div>
      <div
        class="col-12 d-flex justify-content-center align-items-center text-white text-center position-absolute h-100">
        <h3 class="titulo grandes text-shadow">¡TU ESPACIO FELINO EN GUADALAJARA!</h3>
      </div>
    </div>
  </div>

  <div class="container mt-5 p-4 bg-light flex-grow-1">
    <div class="row">
      <div class="col-md-6">
        <p class="display-6 font-weight-bold">Puedes visitarnos en nuestro espacio en <br><strong>C/Pico Ocejón
            18</strong>,<br> en pleno centro de Manantiales.</p>
      </div>
      <div class="col-md-6 justify-content-center">
        <p>Un luminoso y agradable espacio felino en pleno centro de Manantiales. Gatos con café, tienda especializada
          felina y todo lo que puedas imaginar o necesitar en torno al mundo del gato. También promocionamos productos
          organicos aptos para el consumo humano.</p>
        <button class="btn btn-primary btn-lg" routerLink="/login">Reservas</button>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center ms-5">
      <div class="col">
        <div class="card h-100 w-75">
          <img src="assets/gato_laptop.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><b>¿Buscas una experiencia única y relajante?</b> Reserva una cita para visitar nuestro
              Cat
              Café. Ven y pasa un tiempo especial con nuestros felinos residentes. ¡Haz tu reserva hoy y vive un momento
              inolvidable lleno de ronroneos y ternura!</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-75">
          <img src="assets/gato_cocinero.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><b>Deléitate con nuestros deliciosos postres orgánicos. </b>Desde cupcakes con
              forma de pata hasta tartas decoradas con adorables caras felinas... ¡Ven y prueba un bocado de ternura en
              cada mordisco!.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-75">
          <img src="assets/gato_hula.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><b>¡Diversión garantizada! </b>Descubre lo juguetones que pueden ser nuestros adorables
              felinos. Ven y disfruta de momentos llenos de alegría y travesuras gatunas. ¡Deja que la aventura gatuna
              comience!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center bg-black text-white w-100">
    <div>
      <h1 class="titulo grandes"> NUESTRAS REDES</h1>
    </div>
    <br>
    <div class="d-flex justify-content-around mb-5">
      <a href="https://www.whatsapp.com">
        <img class="m-5 mb-1 mt-3" src="assets/whatsapp.png">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img class="m-5 mb-1 mt-3" src="assets/twitter.png" alt="Twitter">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img class="m-5 mb-1 mt-3" src="assets/instagram-logo.png" alt="Instagram">
      </a>
    </div>
  </div>

</body>