<body class="d-flex flex-column align-items-center">

  <div class="container w-100">
    <div class="row position-relative" style="height: 30em; overflow: hidden;">
      <div class="col-12">
        <video class="w-100" style="height: 100%; object-fit: cover;" autoplay loop>
          <source src="assets/gato_peinado.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center text-white text-center position-absolute h-100" >
        <h3 class="titulo grandes">¡TU ESPACIO FELINO EN GUADALAJARA!</h3>
      </div>
    </div>
  </div>  

  <div class="container mt-4 p-4 bg-light flex-grow-1">
    <div class="row">
      <div class="col-md-6">
        <p class="display-4 font-weight-bold">Puedes visitarnos en nuestro espacio en <br><strong>C/Pico Ocejón 18
          </strong>,<br> en pleno centro de Manantiales.</p>
      </div>
      <div class="col-md-6 justify-content-center">
        <p>Un luminoso y agradable espacio felino en pleno centro de Manantiales. Gatos con café, tienda especializada
          felina y todo lo que puedas imaginar o necesitar en torno al mundo del gato. También promocionamos productos
          organicos aptos para el consumo humano.</p>
        <button class="btn btn-primary btn-lg" routerLink="/reservation">Reservas</button>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div class="col">
            <div class="card h-100">
                <img src="assets/your-image-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                      content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/your-image-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                      content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/your-image-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                      content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="d-flex flex-column justify-content-center align-items-center bg-black text-white w-100">
    <h1 class="titulo grandes"> NUESTROS HORARIOS</h1>
    <br>
    <p>
      LUNES: de 16 a 21h <br>
      
      MARTES - VIERNES: de 11 a 14h y de 16 a 21h<br>
      
      SÁBADO Y DOMINGO: de 11 a 21h</p>

  </div>

</body>